@import 'variables';

.container{
    max-width: 1080px;
    width: 100%;
    height: max-content;
    margin: auto;
    padding: 0 20px;

    @media screen and (max-width: 600px) {
        padding: 40px 20px;
    }

    ul{
        list-style-type: none;
        display: grid;
        grid-template-rows: minmax(250px, 1fr);



        .wide{
            grid-column: span 2 / auto;
        }
        .wide-two{
            grid-column: span 2 / auto;
        }
        .tall{
            grid-row: span 2 / auto;
        }
        grid-gap: 25px;
        grid-template-columns: repeat(4, 1fr );

        @media screen and (max-width: 1080px) {
            grid-template-columns: repeat(3, 1fr );
            .tall{
                grid-column: span 2 / auto;
                grid-row: unset;
            }
            .wide-two{
                grid-column: span 3 / auto;
            }
        }
        @media screen and (max-width: 767px) {
            .wide{
                grid-column: unset;
            }
            .tall{
                grid-row: unset;
                grid-column: unset;
            }
            .wide-two{
                grid-column: unset;
            }
            grid-template-columns: repeat(1, 1fr );
        }

        

        .card{
            border-radius: 6px;
            box-shadow: 30px 30px 30px #00000010;
            padding: 25px;
            min-height: 100%;
            height: max-content;
            background-color: $white;
            display: flex;
            flex-direction: column;
            .top{
                display: flex;
                align-items: center;
                img{
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;
                    margin-right: 20px;
                }

                .name-wrapper{
                    .subname{
                        font-size: .75rem;
                        opacity: 50%;
                    }
                }
            }

            .headline{
                margin: 20px 0;
                font-size: 1.2rem;
                font-weight: 500;
            }

            blockquote{
                opacity: 75%;
                line-height: 1.4;
            }


        }

        .moderate-violet{
            background-color: $moderate-violet;
            color: $white;
            position: relative;
            z-index: -1;
            img{
                border: 2px solid #a775f2;
            }

            &::after{
                content: '';
                position: absolute;
                background: url(/images/bg-pattern-quotation.svg) no-repeat;
                top: 0;
                right: 10%;
                height: 100px;
                width: 100px;
                z-index: -1;
            }

        }
        
        .very-dark-grayish-blue{
            background-color: $very-dark-grayish-blue;
            color: $white;

            
        }

        .very-dark-blackish-blue{
            background-color: $very-dark-blackish-blue;
            color: $white;

            img{
                border: 2px solid $moderate-violet;
            }
        }







    }
}

.attribution { 
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 11px; 
    text-align: center; 
    a { 
        color: hsl(228, 45%, 44%);
     }
}